<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Last 50 Image Convertions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Image Types</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Extension</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="imageType : ${imageTypes}">
                <td><a th:href="@{/imageTypes.html(id=${imageType.id})}" th:text="${imageType.id}" href="#">Id</a></td>
                <td th:text="${imageType.name}">Authors</td>
                <td th:text="${imageType.extension">Title</td>
            </tr>
        </tbody>
        
    </table>
    
</body>
</html>
